body{
    margin:0;
    padding:0; 
}
#span{
    font-size:30px;
    font-weight:bold;
}
header{
    background-color:black;
    width:100%;
    color:white;
}
#body{
 background:url('https://nishantshah977.github.io/img/cover1.jpg');
    background-size:cover;
    
}
.form{
    margin-top:50px;
}
.input{
    opacity:0.5;
    height:30px;
    width:200px;
    border-radius:50px;
    border:1px solid white;
    font-size:20px;
    font-weight:bold;
}
.label{
    color:#03fc45;
    font-weight:bold;
    font-size:20px;
}
.submit{
    font-weight:bold;
    border-radius:40px;
    font-size:20px;
    height:80px;
    width:80px;
}
#error, #error1{
    color:#f7f7f7;
    font-weight:bold;
    border-radius:5px;
}
